@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBDDCD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}



/* LOGIN */

.login--container {
  @apply flex flex-col justify-center items-center h-full;
}

.login--title {
  @apply absolute;
  top: 15%;
}

.login--title--font {
  @apply font-extrabold font-playfair !important;
}

.login--form--container {
  @apply flex flex-col justify-center items-start gap-4;
}

.login--form--input--container {
  @apply flex flex-col;
}

.login--form--input--label {
  @apply font-bold;
}

.login--form-check--label {
  @apply text-xs;
}

.login--form--forget--font {
  @apply font-playfair !important;
}

.login--form--submit {
  @apply bg-brown text-white font-playfair !important;
}

.login--create--container {
@apply absolute;
  bottom: 15%;
}

.login--create--font {
  @apply font-playfair text-xs !important;
}

.login--create--button {
  @apply bg-brown text-white font-playfair w-28 !important;
}

/* ACCOUNT CREATION */

.signup--container {
  @apply h-screen;
}

.signup--header {
  @apply flex justify-center items-center h-2/5;
}

.signup--header--title {
  @apply font-extrabold font-playfair text-center !important;
}

.signup--main--container {
  @apply flex justify-center items-start h-3/5;
}

.signup--main--form--creation {
  @apply flex flex-col justify-center items-start gap-4;
}

.signup--main--form--input--container {
  @apply flex flex-col;
}

.signup--main--form--input {
  @apply w-max;
}

.signup--main--form--button {
  @apply font-playfair text-white font-bold bg-brown border-none rounded py-1 px-3 before:border-none !important
}

.signup--main--form--diets--stretch {
  @apply flex flex-col items-stretch;
}

.signup--main--form--diets--start {
  @apply flex flex-col items-start;
}

.signup--main--form--allergies--space {
  @apply flex flex-col content-around justify-center flex-wrap gap-4 max-h-110;
}

.signup--main--form--allergies--center {
  @apply flex flex-col justify-center flex-wrap gap-4 max-h-110;
}

.settings--changed--visible {
  @apply visible;
}

.settings--changed--invisible {
  @apply invisible;
}

.settings--changed--visible--applied {
  @apply text-green font-playfair font-extrabold text-center !important;
}

/* HEADER */

.header--box {
  @apply h-auto;
}

.header--container {
  @apply flex flex-row items-center justify-end fixed top-0 w-full bg-beige z-10 !important;
}

.header--title--container {
  @apply text-center w-3/5;
}

.header--title--font {
  @apply font-extrabold font-playfair !important;
}

.header--burger {
  @apply w-1/6;
}

.header--nav--container {
  @apply flex flex-row items-center justify-between w-full bg-darker-brown h-14 mt-14;
}

.header--nav--list {
  @apply flex flex-row items-center justify-end;
}

.header--nav--list--item--nowrap {
  @apply whitespace-nowrap;
}

/* SEARCHBAR */

.searchbar--container {
  @apply flex items-center relative right-3.5;
}

.searchbar--icon {
  @apply absolute left-0 text-xl bg-darker-brown h-full !important;
}

.searchbar--input {
  @apply border border-solid border-brown rounded w-36 placeholder:font-bold text-right pr-2;
}

.container-flex-col-fstart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.container-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-flex-row-fend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.container-flex-col-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container-flex-col {
  display: flex;
  flex-direction: column;
}


.container-h100 {
  height: 100%;
}

.container-visible {
  visibility: visible;
}

.container-invisible {
  visibility: hidden;
}

/* IMAGES LIST */

.container-images-center-vw95-mobile {
  justify-items: center;
  width: 95vw;
  height: auto;
  margin: 1rem auto 0;
}

.container-images-center-vw95-desktop {
  width: 95vw;
  height: auto;
  margin: 1rem auto 0;
}


/* TEXT */


.title-pf-bolder-center {
  font-family: 'Playfair Display', serif !important;
  font-weight: bolder !important;
  text-align: center;
}

.subtitle-pf {
  font-family: 'Playfair Display', serif !important;
}

.text-small {
  font-size: 0.85rem;
}

.text-xsmall {
  font-size: 0.75rem;
}

.bold {
  font-weight: bold;
}

/* LINKS */

a {
  text-decoration: none;
  color: black;
}

/* INPUTS */

.checkboxes-mr-p {
  margin-right: 0.85rem;
  padding: 0 !important;
}

.input-w100 {
  width: 100%;
}

/* BUTTONS */


.button-brown-pf-large {
  background-color: #906942 !important;
  color: #FFF !important;
  font-family: 'Playfair Display', serif !important;
  width: 7.5rem;
}

.star-icon {
  color: yellow !important;
  margin-right: 1rem !important;
}